.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 16px;
  position: relative;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  font-size: 24px;
  font-weight: 700;
}

.header-left a {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.header-left a:hover {
  color: var(--secondary-color);
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  color: var(--dark-color);
  font-weight: 500;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--primary-color);
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-right-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-right-item a {
  color: var(--dark-color);
  font-weight: 500;
  padding: 10px 0;
  transition: color 0.3s ease;
}



@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }
  
  .nav-menu ul {
    gap: 15px;
  }
} 